<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="guest-form-card card">

      <div class="card-header text-center">
        <h2>Faça seu login</h2>
      </div>

      <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="login()">
          <div class="form-group">
            <label for="usuario">Usuário</label>
            <input id="usuario" class="form-control" [ngClass]="{ 'is-invalid': usuario.touched && usuario.invalid }" name="usuario" #usuario="ngModel" [(ngModel)]="model.usuario" required />
            <span class="invalid-feedback">Usuário não pode ser vazio.</span>
          </div>

          <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" class="form-control" [ngClass]="{ 'is-invalid': senha.touched && senha.invalid }" #senha="ngModel" [(ngModel)]="model.senha" required />
            <span class="invalid-feedback">A senha não pode ser vazio.</span>
          </div>

          <div style="margin-top: 5px;" class="text-end">
            <button class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Entrar</button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>
