<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="guest-form-card card">

      <div class="card-header text-center">
        <h2>Cadastro</h2>
      </div>

      <div class="card-body">
        <form class="my-form" #cadastroForm=ngForm (ngSubmit)="Submit()">
          <div class="example-container">
            <mat-form-field appearance="fill" style="width: 100%;">
              <mat-label>E-mail</mat-label>
              <input matInput placeholder="exemplo@exemplo.com.br" [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{validarEmail()}}</mat-error>
            </mat-form-field>
          </div>

          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Senha</mat-label>
            <input matInput [type]="exibir ? 'password' : 'text'" [formControl]="senha">
            <mat-error *ngIf="senha.invalid">{{validarSenha()}}</mat-error>
            <button mat-icon-button matSuffix (click)="exibir = !exibir" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="exibir">
              <mat-icon>{{exibir ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
      
          <mat-form-field appearance="fill" style="width: 100%;">
            <mat-label>Confirmação Senha</mat-label>
            <input matInput [type]="exibirConfirmacao ? 'password' : 'text'" [formControl]="confirmacaoSenha" (focusout)="validarConfirmacaoSenha()">
            <mat-error *ngIf="confirmacaoSenha.invalid">{{validarConfirmacaoSenha()}}</mat-error>
            <button mat-icon-button matSuffix (click)="exibirConfirmacao = !exibirConfirmacao" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="exibirConfirmacao">
              <mat-icon>{{exibirConfirmacao ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          
          <div style="margin-top: 5px;" class="text-end">
            <button class="btn btn-primary btn-block" type="submit">Cadastrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
